append head
  link(rel='stylesheet' href='/stylesheets/navbar.css')
div.navDiv
  nav.navBar
    #logo
      a(href='/')
      #meadium Meadium
      #goodness Goodness
    div#usernameAndAbout
      div#username
        h2= user.username
      div#aboutDiv
        //- a#about(href='/about') About
    div#rightNav
      div#searchBar
        //- img(src=('/Assets/imgPath/search.png') alt='search button' id='search-btn')
        //- input(type='text' name='searchedStory' placeholder=`Search ${user.username} stories` id='search')
      div#formBtns
        div.newStoryDiv
        //-   form(action='/stories' method='post').newStoryForm
        //-     button(type='submit' id='newStory') New Story
        div.logoutDiv
          form(action='/profile/logout' method='post').logoutForm
            button(type='submit' id='logout') Logout
