append head
  link(href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nanum+Myeongjo:wght@400;700;800?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet")
  link(rel='stylesheet' href='/stylesheets/navbar.css')
div.navDiv
    nav.navBar
      .logo.links.container#container
        a.nav-content1(href="/")
        span.meadium Meadium
        span.pipe |
        span.goodness Goodness
      div#usernameAndAbout
        div#username
          if locals.authenticated
            a#profile(href=`/profile/${user.id}`)
              h2= user.username
          else
            a.signup(href='/signup')
      div#rightNav
        div#searchBar
          if locals.path && locals.path.includes("profile") && !locals.path.includes("stories")
            img(src='/Assets/icons/search.png' alt='search button' id='search-btn')
            input(type='text' name='searchedStory' placeholder=`Search my stories` id='search')
        if locals.authenticated
          div#formBtns
            div.newStoryDiv
              //- div #{locals.path.includes("stories/?")}
              if locals.path && !locals.path.includes("stories/?")
                form(action='/profile/stories/' method='GET').newStoryForm
                  button(type='submit' id='newStory') New Story
            div.logoutDiv
              form(action='/profile/logout' method='post').logoutForm
                button(type='submit')#logout Logout
        else
          a.login(href='/login') Login?
          form(action='/login/demo' method='post')
            button(type='submit').login.demo Demo User
