append head
  link(rel='stylesheet' href='/stylesheets/navbar.css')
div.navDiv
  nav.navBar
    #logo
      a(href='/home')
      #meadium Meadium
      #goodness Goodness
    div#usernameAndAbout
      div#username
        if locals.authenticated
          h2.navh2= user.username
          a.navA.profile(href=`profile/${user.id}`) Profile
        else
          a.signup(href='/signup')
    div#rightNav
      div#searchBar
        //- img.navImg(src='/Assets/icons/search.png' alt='search button' id='search-btn')
        //- input(type='text' name='searchedStory' placeholder=`Search ${user.username} stories` id='search')
      div#formBtns
        div.navNewStoryDiv
          form(action='/profile/stories' method='GET').navNewStoryForm
            button(type='submit' id='navNewStory') New Story
        div.logoutDiv
          form(action='/profile/logout' method='post').navLogoutForm
            button(type='submit' id='navLogout') Logout
