append head
  link(rel='stylesheet' href='/stylesheets/navbar.css')
div.navDiv
  nav.navBar
    #logo
      a(href='/')
      #meadium Meadium
      #goodness Goodness
    div#usernameAndAbout
      div#username
        h2.navh2= user.username
      //- div#aboutDiv
      //-   a#about(href='/about') About
    div#rightNav
      div#searchBar
        //- img.navImg(src='/Assets/icons/search.png' alt='search button' id='search-btn')
        //- input(type='text' name='searchedStory' placeholder=`Search ${user.username} stories` id='search')
      div#formBtns
        div.navNewStoryDiv
          form(action='/profile/stories' method='GET').navNewStoryForm
            button(type='submit' id='navNewStory') New Story
        div.logoutDiv
          form(action='/profile/logout' method='post').navLogoutForm
            button(type='submit' id='navLogout') Logout

