extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/create.css')
    include includes/createNav.pug

//- need a small logo in the top left corner
//- need to add a "PUBLISH" button to the navbar
block content
    //- include includes/createNav.pug
    .main.write.article
        form.write.article(action="/profile/create" method="post" name="form" id='form')
            input.title.text(type="text" placeholder='Title' id='title' name='title')
            input.title.text.subheader(type="text" placeholder='Subtitle' id='subheader' name='subheader')
            span.input.body.text(data-placeholder="Tell your story... " id='body' name='body' contenteditable)
