extends layout.pug

block content
    .footer.container
        .footer.one.container
            h3.footer.one.title
            p.footer.one.text
        .footer.two.container
            h3.footer.two.title
            p.footer.two.text
        .footer.three.container
            h3.footer.three.title
            p.footer.three.text
    hr.footer.line
    .footer.logo.links.container
        .footer.logo.container
            a.footer-content1(href="/")
            span.meadium Meadium
            span.goodness Goodness
        .footer.links.container
            a.about.link(href="/")
            a.help.link(href="/")
            a.legal.link(href="/")
