extends layout
append head
   link(rel="stylesheet" href="/stylesheets/home.css")


block content
    include includes/nav.pug
    .body-structure-container
        .wrapper
            .wine-content-c
                img(class="wine-content-c" src="/pictures/Rectangle 2.png" alt="Mead-Glass")
                h3(class="top-ten" s) Top 5 most festive meads 
                h5(class="top-twenty") July, 07 2019
            .rightblock
                span#stories
                    div.storyContainer
                        if stories.length
                            h1 Created Stories:
                            ul.stories
                                each story in stories
                                    li.story
                                        a(href=`/stories/${story.id}`)
                                        .storyItems
                                        .div4
                                            img( width="500px" height="500px" class="losimage" src=`${story.imgPath}`)
                                            a(href=`/stories/${story.id}`)= story.title
                                            p.body= story.body
        .line
            hr(class="liner")
        .h1text
            h1(class="h1mead") Latest From:
        .second-half
            .melomelcontent
                .contentdiv
                    h4.h4melomeltext Melomel
                    img(style="display: block" class="img1" src="/pictures/Ellipse 6 (1).png" alt="Melomel")
            .braggotcontent
                .contentdiv
                    h4.h4braggottext Braggot
                    img(style="display: block" class="img2" src="/pictures/Ellipse 7 (1).png" alt="Braggot")
            .acerglincontent
                .contentdiv
                    h4.h4acerglintext Acerglin
                    img(style="display: block" class="img3" src="/pictures/Ellipse 8 (1).png" alt="Acerglin")
            .cysercontent
                .contentdiv
                    h4.h4cysertext Cyser
                    img(style="display: block" class="img4" src="/pictures/Ellipse 9 (1).png" alt="Cyser")