extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)


block content
  h1.Header Meadium
    li(class="active" href="#home") Home
    li(class="active" href="#news") New Meadiums
    li(class="active" href="#Contact") Contact
    if locals.authenticated
      span Welcome #{user.username}
      a(href=`/profile/${user.id}`) Profile
    else
      a(class="active" href="/login") Login
  div.Container
  div.Message
    h3 Trending | Top Rated Posts
  h3.Header2 Explore other Meadiums
    div.Info
  div.NavButtons
    div.NavButton Create Meadium
  if stories
    ul
      each story in stories
        li
          h1= story.title
            p= story.body
