doctype html
html
  head
      link(rel='stylesheet' href='/stylesheets/style.css')
      block head
        title="Meadium: Blog for Booze"
        link(href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap",rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap" rel="stylesheet")
        //- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
        script(src="https://kit.fontawesome.com/2ed6a75d45.js" crossorigin="anonymous")
  body
    block content
