doctype html
html
  head
      link(rel='stylesheet' href='/stylesheets/style.css')
      block head
        title="Express Starter App"
        link(href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap",rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap" rel="stylesheet")
  body
    block content
