doctype html
html
  head
      link(rel='stylesheet' href='/stylesheets/style.css')
      <meta name="description" content="Meadium is an online publishing platform modeled on Medium.com, where users can come together and talk about all things alcoholic. They can create accounts, post their own stories, and comment/rate stories created by fellow community members." />
      <meta name="title" property="og:title" content="Meadium" />
      <meta property="og:type" content="Website" />
      <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/50946843693_f1f1a1643d_z.jpg" />
      <meta name="description" property="og:description" content="Meadium is an online publishing platform modeled on Medium.com, where users can come together and talk about all things alcoholic. They can create accounts, post their own stories, and comment/rate stories created by fellow community members." /><meta name="author" content="Ivan Gentille, Adam Faidy, Nick Matthews, Philip Ling" />
      block head
        title="Meadium: Blog for Booze"
        link(href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap",rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet")
        //- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
        script(src="https://kit.fontawesome.com/2ed6a75d45.js" crossorigin="anonymous")
  body
    block content
