extends layout.pug

block content
    form(action="/signup", method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        .header
            h2 Sign up with email
        .subheader
            h4 Enter the info below to create an account.
            .form-group
                h4(for="username") Username
                input(type="text", name="username" id="username" placeholder='great_user_name' required)
            .form-group
                h4(for="firstName") First Name
                input(type="text", name="firstName" id="firstName" placeholder='Jane' required)
            .form-group
                h4(for="lastName") Last Name
                input(type="text" name="lastName" id="lastName" placeholder='Doe' required)
            .form-group
                h4(for="email") Email
                input(type="email" name="email" id="lastName" placeholder="youremail@email.com" required)
            .form-group
                h4(for="password") Password
                input(type="password" name="password" id="password" placeholder="Password" required)
                h4(for="passwordConfirm") Confirm Password
                input(type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm password" required)
            .submit
                button(type="submit") Create User
