@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap");

p.body {
    font-family: Source-Sans-Pro;
    font-size: 20px;
    color: black;
}

a.title {
    /* font-family: Source-Sans-Pro; */
    font-family: 'IM Fell French Canon SC',Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 35px;
    color: black;
    margin-bottom: 10px;
}

h1.story.title {
    text-align: center;
    font-family: 'IM Fell French Canon SC',Georgia, Cambria, "Times New Roman", Times, serif;
    /* font-family: Source-Sans-Pro; */
    font-size: 35px;
}
.wine-content-c {
    width: 700px;
    height: 700px;
}

.wine-content {
    display: flex;
}
.wrapper {
    display: flex;
}
.top-twenty {
    margin-top: 10px;
    font-family: Poppins;
    font-size: 30px;

    font-style: italic;
    font-weight: 200;
    text-align: center;
}
.top-ten {
    margin-top: 20px;
    text-align: center;
    font-family: Source-Sans-Pro;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */


    color: #000000;
}

.top-ten-subinfo {
    position: relative;
    padding-top: 30px;
}


.top-ten {
    top: 475px;
    right: 30px;
}

.top-ten-subinfo {
    top: 425px;
    left: 240px;
}

.sphere-c {
   border-left: 2px solid black;
   height: 200px;
}

.button {
    font-size: 30px;
     background-color: orange;
     position: relative;
     left: 800px;
     top: 430px;
     border-radius: 20%;
}

.dot {
     display: inline-block;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     border-style: solid;
     border-width: 2px;
     border-color: black;
     background-color: rgba(0, 0, 0, 0);
     position: relative;
     left: 750px;
     bottom: 80px;
     pointer-events:none;
     }

.dot2 {

      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      background-color: rgba(0, 0, 0, 0);
      position: relative;
      left: 725px;
      top: 100px;
      pointer-events:none;
}

.dot3 {
     display: inline-block;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     border-style: solid;
     border-width: 2px;
     border-color: black;
     background-color: rgba(0, 0, 0, 0);
     position: relative;
     left: 700px;
     top: 260px;
     pointer-events:none;
}

.liner {
    margin-top: 50px;
    margin-bottom: 20px;
}

.circle1 {

    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    left: 750px;
    bottom: 80px;
    pointer-events:none;
}

.second-half {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.melomelcontent {
    padding-left: 20px;

}

.h4cysertext,
.h4braggottext,
.h4melomeltext, 
.h4acerglintext {
    font-family: Source-Sans-Pro;
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.h1mead {
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    margin-bottom: 40px;
}
img.img1 {
    width: 300px;
    height: 300px;
}

img.img2 {
    width: 300px;
    height: 300px;
}

img.img3 {
    width: 300px;
    height: 300px;
}

img.img4 {
    width: 300px;
    height: 300px;
    }
.rightblock {
    display: flex;
    margin: 0;
    padding: 0;
    width: 10%;
}

.storyContainer {
    display: flex;
    padding: 10px;
    /* border: thin gray solid; */
    flex-direction: column;
    width: 50vw;
    align-content: center;
    justify-self: center;
    align-self: center;
    margin-left:10%;
    
    
}

li.story,
li.story:hover {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

li.story:hover {
    border-bottom-left-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stories {
    list-style: none;
}

a {
    font-weight: bolder;
    font-size: 30px;
    font-variant: normal;
    text-align: center;
    margin-top: 20px;
    display: block;
}


.div4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-self: center;

}

.losimage {
     align-self: center;
     align-content: center;
     justify-self: center;
}
.contentdiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

hr.inbetween {
    margin-top: 20px;
    margin-bottom: 50px;
    justify-self: center;
}
