form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center
}

input {
  padding: 0
}

h4 {
  margin-block-end: 0;
}

.submit {
  margin-block-start: 1.33em
}
