* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

#logo {
    display: flex;
    width: 200px;
    align-items: center;
}

#logo a {
    position: absolute;
    height: 100px;
    width: 350px;
}

#meadium {
    height: 50px;
    padding: 0px 10px 5px 20px;
    font-size: 40px;
    font-weight: 500;
    border-right: black solid;
}

#goodness {
    margin-left: 7px;
    border-bottom: thick red solid;
    font-size: 40px;
    font-family: 'Nanum Myeongjo', serif;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 150px;
    border-bottom: thin lightgray solid;
    margin-bottom: 80px;
    box-shadow: 0 0 0 3px lightgray;
}
#usernameAndAbout {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 4px;
}

#rightNav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

#formBtns {
    display: flex;
}

#username {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}

#aboutDiv {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

#about {
    margin-top: 7px;
    margin-left: 20px;
}

#searchBar {
    display: flex;
    width: 10%;
    align-items: center;
}

#formBtns {
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

a {
    color: gray;
    text-decoration: none;
}

#search {
    font-family: 'Nanum Myeongjo', serif;
    width: 20px;
    height: 45px;
    padding: 20px;
    border-radius: 5%;
    border-color: black;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1em;

    transition: width 1s ease;
}

.navImg {
    position: absolute;
    cursor: pointer;
    border-radius: 10%;
    height: 40px;
    width: 40px;
    /* margin-top: 3px; */
}

.search-clicked {
    width: 200px;
    padding-left: 40px;
    cursor: text;
    outline: none;
}

#navLogout{
    border: none;
    color: lightgray;
    margin-left: 20px;
    background-color: white;
    cursor: pointer;
}

#navNewStory {
    background-color: rgb(39, 137, 23);
    color: white;
    padding: 7px 10px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-weight: 100;
}

input:focus {
    border: none;
}

#about:focus {
    color: black;
}

.navh2 {
    font-size: 27px;
}
