nav.navBar {
    font-family: 'Nanum Myeongjo', serif;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    border-bottom: 1px lightgray solid;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

nav.navBar > .logo.links.container#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    /* padding: 0 0 0 10px; */
}
span.meadium {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-self: flex-start;
    margin: 0 0 0 10px;
}

span.meadium {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 1px;
}

span.goodness {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 36px;
    font-weight: 200;
}

span.pipe {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 36px;
    font-weight: 200;
    padding: 3px;

}

.logo.links.container > a.nav-content1 {
    position: absolute;
    cursor: pointer;
    color: black;
    text-decoration: none;
    width: 345px;
    height: 50px;
}

#usernameAndAbout {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 0 50px 0 0;
}

#username {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#username > a > h2 {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: auto;
    height: 33px;
    color: black;
    display: flex;
    align-items: center;
}

/* #username > h2 > a#profile {
    cursor: pointer;
    position: absolute;
    display: block;
    height: 33px;
    width: 100%;
    z-index: 9999;
} */
    
#rightNav {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#formBtns {
    display: flex;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

#aboutDiv {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

#about {
    margin-top: 7px;
    margin-left: 20px;
}

#searchBar {
    display: flex;
    width: 10%;
    align-items: center;
}

div#searchBar input {
    font-family: 'Nanum Myeongjo', serif;
    width: 20px;
    height: 45px;
    padding: 20px;
    border-radius: 5%;
    border-color: black;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1em;
    
    transition: width 1s ease;
}

#search-btn {
    position: absolute;
    cursor: pointer;
    border-radius: 10%;
    height: 40px;
    width: 40px;
    /* margin-top: 3px; */
}

.search-clicked {
    width: 200px;
    padding-left: 40px;
    cursor: text;
    outline: none;
}

#logout{
    border: none;
    color: slategray;
    margin-left: 20px;
    background-color: white;
    cursor: pointer;
}

.newStoryDiv > * {
    display: flex;
    align-items: center;
}

#newStory {
  font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #292929;
  border: none;
  border-radius: 4px;
  padding: 6px 18px;
  font-weight: 200;
}

input:focus {
    border: none;
}

#about:hover,
div.logoutDiv button#logout:hover {
    transition: 500ms;
    color: black;
}

h2 {
    font-size: 27px;
}

a {
    font-family: 'Nanum Myeongjo', serif;
    color: gray;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
