* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

/* Under is CSS for Body and Pinned */
/*/////////////////////////////////////////////////*/

main {
    display: flex;
    gap: 30px;
    height: 100%;
}

/* Pin specific styling */
#pinnedPanel {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0 0 0 30px;
    width: 260px;
}

.pinnedContainer {
    padding: 10px 20px 10px 10px;
}

h3.pinned-title {
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

li.pinned {
    margin: 0 0 10px 0;
}

li.pinned > a {
    font-size: 14px;
    width: 100%;
}

/* Story specific styling */
.storyContatiner {
    display: flex;
    border: thin gray solid;
}

h1 {
    font-size: 50px;
}

#stories {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 50px;
    margin-left: 50px;
}

.stories {
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin-left: 150px;
}

#stories p {
    color: gray;
}

#stories a {
    color: gray;
}

.elseStatment {
    padding-top: 30px;
    height: 700px;
}

li {
    list-style-type: none;
    margin: 25px;
}

h1.title {
    font-size: 45px;
    padding-bottom: 25px;
    text-decoration: underline;
}

.story {
    padding: 50px;
    width: 80%;
    height: 355px;
    overflow: hidden;
    border-radius: 2%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 3px 2px 2px 0px lightgray;
}

.story:hover {
    border-radius: 2%;
    border-bottom-left-radius: 0%;
    box-shadow: 17px 10px 17px 10px rgb(231, 229, 229);
}

.story a {
    position: absolute;
    width: 800px;
    height: 300px;
    padding-bottom: 2%;
}

.body {
    font-family: 'Nanum Myeongjo', serif;
    padding-bottom: 3%;
}

.storyItems img {
    position: absolute;
    left: 350px;
    height: 200px;
    width: 200px;
}

#footer {
    display: flex;
    align-self: flex-end;
}
