* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

#logo {
    display: flex;
    width: 200px;
    align-items: center;
}

#logo a {
    position: absolute;
    height: 100px;
    width: 350px;
}

#meadium {
    height: 50px;
    padding: 0px 10px 5px 20px;
    font-size: 40px;
    font-weight: 500;
    border-right: black solid;
}

#goodness {
    margin-left: 7px;
    border-bottom: thick red solid;
    font-size: 40px;
    font-family: 'Nanum Myeongjo', serif;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 150px;
    border-bottom: thin lightgray solid;
    margin-bottom: 20px;
    /* background-color: aqua; */
}
#usernameAndAbout {
    display: flex;
    justify-content: center;
    width: 20%;
    /* background-color: beige; */
}

#rightNav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

#formBtns {
    display: flex;
}

#username {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}

#aboutDiv {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

#about {
    margin-top: 7px;
    margin-left: 20px;
}

#searchBar {
    display: flex;
    width: 10%;
    align-items: center;
}

#formBtns {
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

a {
    color: gray;
    text-decoration: none;
}

input {
    font-family: 'Nanum Myeongjo', serif;
    width: 20px;
    height: 45px;
    padding: 20px;
    border-radius: 5%;
    border-color: black;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1em;

    transition: width 1s ease;
}

#search-btn {
    position: absolute;
    cursor: pointer;
    border-radius: 10%;
    height: 40px;
    width: 40px;
    /* margin-top: 3px; */
}

.search-clicked {
    width: 200px;
    padding-left: 40px;
    cursor: text;
    outline: none;
}

#logout{
    border: none;
    color: lightgray;
    margin-left: 20px;
    background-color: white;
    cursor: pointer;
}

#newStory {
    background-color: rgb(39, 137, 23);
    color: white;
    padding: 7px 10px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-weight: 100;
}

input:focus {
    border: none;
}

#about:focus {
    color: black;
}

h2 {
    font-size: 27px;
}

/* Under is CSS for Body and Pinned */
/*/////////////////////////////////////////////////*/

main {
    display: flex;
    gap: 30px;
    height: 100%;
}

#pinnedPanel {
    box-shadow: 5px 0 5px 0 black;
    padding: 20px 20px 20px 30px;
    size: auto;
}

.pinnedContainer {
    border-right: thin black solid;
    padding: 20px 30px 20px 20px;
    /* background-color: teal; */
}

h3 {
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: thin lightgray solid;
}

.storyContatiner {
    display: flex;
    border: thin gray solid;
}

h1 {
    font-size: 50px;
}

#stories {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 50px;
    margin-left: 50px;
}

.stories {
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin-left: 150px;
}

#stories p {
    color: gray;
}

#stories a {
    color: gray;
}

.elseStatment {
    padding-top: 30px;
}

li {
    list-style-type: none;
    margin: 25px;
}

h1.title {
    font-size: 45px;
    padding-bottom: 25px;
    text-decoration: underline;
}

.story {
    padding: 50px;
    width: 80%;
    height: 355px;
    overflow: hidden;
    border-radius: 2%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 3px 2px 2px 0px lightgray;
}

.story:hover {
    border-radius: 2%;
    border-bottom-left-radius: 0%;
    box-shadow: 17px 10px 17px 10px rgb(231, 229, 229);
}

.story a {
    position: absolute;
    width: 51%;
    height: 300px;
    padding-bottom: 2%;
}

.body {
    font-family: 'Nanum Myeongjo', serif;
    padding-bottom: 3%;
}

.storyItems img {
    position: absolute;
    left: 350px;
    height: 200px;
    width: 200px;
}
