* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

/* Under is CSS for Body and Pinned */
/*/////////////////////////////////////////////////*/

main {
    display: flex;
    gap: 30px;
    height: 100%;
}

/* Pin specific styling */
#pinnedPanel {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0 0 0 30px;
    width: 260px;
    height: auto;
    margin-top: 20px;
    border-radius: 10%/1%;
    border-bottom-right-radius: 0%;
}

.pinnedContainer {
    padding: 10px 20px 10px 10px;
}

h3.pinned-title {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 20px 5px 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

li.pinned {
    margin: 0 0 10px 0;
}

li.pinned > a {
    font-size: 14px;
    width: 100%;
    font-family: 'Nanum Myeongjo', serif;
    color: gray;
    text-decoration: none;
}


/* Story specific styling */

#stories {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 14px 0 50px 50px;
}

.storyContatiner {
    display: flex;
    border: thin gray solid;
}

.storyContainer > h1 {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    padding-left: 50px;
    margin-bottom: 10px;
}

.stories {
    display: flex;
    flex-direction: column;
}

#stories p {
    color: gray;
}

#stories a {
    color: gray;
}

.elseStatment {
    padding-top: 30px;
    height: 700px;
}

li {
    list-style-type: none;
    margin: 0 25px 25px 25px;
}

h1.title {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 45px;
    padding-bottom: 25px;
    text-decoration: underline;
}

.story {
    padding: 50px;
    width: 90%;
    height: 355px;
    overflow: hidden;
    border-radius: 3%/7%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.story:hover {
    border-radius: 3%/7%;
    box-shadow: 17px 10px 17px 10px rgb(231, 229, 229);
}

.story a {
    position: absolute;
    width: 800px;
    height: 300px;
    padding-bottom: 2%;
}

p.body {
    font-family: 'Nanum Myeongjo', serif;
    padding-bottom: 3%;
    height: 200px;   
}

.storyItems {
    /* display: flex; */
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    align-items: center;
}

.story-details {
    grid-column-start: 4;
    grid-column-end: 9;
    max-height: 277px;
    overflow: hidden;
}

.storyItems img {
    grid-column-start: 1;
    grid-column-end: 3;
    display: block;
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    margin-right: 20px;
}

#footer {
    display: flex;
    align-self: flex-end;
}
