.story.outer-container {
    height: 100%;
    width: 100%;
}

.story.container {
    font-family: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: block;
    top: -80px;
    margin: auto;
    width: 70%;
    max-width: 700px;
}

.story.container > * {
    width: 100%;
    max-width: 700px;
}

.story.title.container > h1{
    font-family: 'IM Fell French Canon SC',Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 48px;
    line-height: 60px;
    color: rgb(41,41,41);
    margin-bottom: 10px;
}

.story.subheader.container > h3.subheader.text {
    font-size: 22px;
    color: rgb(117, 117, 117);
    margin-bottom: 0em;
    font-weight: 400;
}

.story.rating.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 30px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 220px;
}

h4.rating#rating {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    padding-right: 3px;
    font-weight: bold;
}
h4.rating#text {
    font-size: 16px;
    color: rgb(117, 117, 117);
    padding-right: 3px;
    margin-left: 0px;
}
h4.rating#rating {
    font-size: 16px;
    color: rgb(117, 117, 117);
    padding-left: 3px;
}

.story.image.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* max-height: 400px; */
    height: 400px;
    width: 100%;
    overflow: hidden;
}

img.story.image.content {
    display: block;
    max-width:700px;
    max-height: 100%;
    width: auto;
    height: auto;
    /* display: block;
    padding: 0px;
    width: 100%;
    height: auto;
    width: auto; */
}

.story.profile.social.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    height: auto;
    width: auto;
}
.grid.column.two {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.profile.picture.container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile.picture.container > img.profile.picture {
    max-height: 300px;
    margin-left: -3%;
    margin-bottom: 50px;
    height: 140%;
    width: auto;
}

.profile.name-created.container > p {
    margin-left: 11px;
}

.profile.name-created.container > p.story.createdDate {
    margin-top: 0px;
    color: #6a6a6a;
}


.profile.name-created.container > p.profile.name {
    margin-top: 25px;
    margin-bottom: 0px;
    color: #292929;
}

.profile.socials.container {
    grid-column-start: 7;
    grid-column-end: 11;
    display: flex;
    justify-content: flex-end;
}

i.fab.fa-twitter {
    font-size: 25px;
    padding-right: 10px;
    color: #6a6a6a;
}
i.fab.fa-linkedin {
    font-size: 25px;
    padding-right: 10px;
    color: #6a6a6a;
}
i.fab.fa-facebook-square {
    padding-right: 10px;
    font-size: 25px;
    color: #6a6a6a;
}

.story.body-text-container {
    display: flex;
    font-family: 'IM Fell French Canon SC',Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    line-height: 32px;
    color: rgb(41, 41, 41);
}

.story.body.text.container {
    height: auto;
    margin-top: 20px;
    font-size: 19px;
}

.story.cheers.container {
    position: relative;
    padding-top: 50px;
}
